In [48]:
import pandas as pd
import numpy as np
from itertools import chain

In [49]:
data = pd.read_csv('pm25_ground.txt')
data["date"] = pd.to_datetime(data['datetime']).dt.month
data['datehour'] = pd.to_datetime(data['datetime']).dt.hour
data = data.sort_values(by=["datehour"])
df = data.iloc[:, 0:37].copy().set_index('datetime').unstack().reset_index()
d = df.sort_values(by=['datetime'])
df = d.copy()

In [50]:
df = data.iloc[:, 0:37].copy().set_index('datetime').unstack().reset_index()
d = df.sort_values(by=['datetime'])
df = d.copy()

In [51]:
df

       level_0             datetime      0
219650  001026  2014/05/01 01:00:00   77.0
263445  001031  2014/05/01 01:00:00   97.0
158337  001019  2014/05/01 01:00:00  108.0
202132  001024  2014/05/01 01:00:00  100.0
105783  001013  2014/05/01 01:00:00   76.0
...        ...                  ...    ...
192697  001022  2015/04/30 23:00:00  187.0
183938  001021  2015/04/30 23:00:00  113.0
175179  001020  2015/04/30 23:00:00  110.0
227733  001026  2015/04/30 23:00:00  169.0
315323  001036  2015/04/30 23:00:00   88.0

[315324 rows x 3 columns]

In [52]:
df.columns = ["Station", "datetime", "value"]
ar = df["value"].to_numpy()
df['date'] = pd.to_datetime(df['datetime']).dt.month
df['datehour'] = pd.to_datetime(df['datetime']).dt.hour
df['day'] = pd.to_datetime(df['datetime']).dt.day
df1 = df.copy().sort_values(by="datetime")

In [53]:
condition = df1.groupby(["datehour", "day"], as_index=False).apply(lambda x: x.loc[(x.date.isin([2, 5, 8,11]) & (x.value.isnull()))]).reset_index().sort_values("datetime")

In [54]:
condition["value"] = -1

In [55]:
test = df1[df1.date.isin([3,6,9,12])]

In [56]:
test_new = pd.merge(test.iloc[:, 0:7], condition[["day", "datehour", "value", "Station"]],
         on=["Station", "datehour", "day"], how="left")

In [59]:
test_new.columns = ["Station", "datetime", "value", "date", "datehour", "day", "New_value"]

In [60]:
test_new

       Station             datetime  value  date  datehour  day  New_value
0       001019  2014/06/01 00:00:00    NaN     6         0    1       -1.0
1       001016  2014/06/01 00:00:00  130.0     6         0    1       -1.0
2       001014  2014/06/01 00:00:00  100.0     6         0    1       -1.0
3       001018  2014/06/01 00:00:00   92.0     6         0    1       -1.0
4       001013  2014/06/01 00:00:00   99.0     6         0    1       -1.0
...        ...                  ...    ...   ...       ...  ...        ...
109351  001017  2015/03/31 23:00:00    NaN     3        23   31        NaN
109352  001028  2015/03/31 23:00:00    NaN     3        23   31        NaN
109353  001007  2015/03/31 23:00:00    NaN     3        23   31        NaN
109354  001034  2015/03/31 23:00:00    NaN     3        23   31       -1.0
109355  001036  2015/03/31 23:00:00    NaN     3        23   31       -1.0

[109356 rows x 7 columns]

In [36]:
df1[~df1.date.isin([3,6,9,12])]

       Station             datetime  value      id  date  datehour  day
219650  001026  2014/05/01 01:00:00   77.0  219650     5         1    1
193373  001023  2014/05/01 01:00:00   95.0  193373     5         1    1
132060  001016  2014/05/01 01:00:00  106.0  132060     5         1    1
254686  001030  2014/05/01 01:00:00    NaN  254686     5         1    1
307240  001036  2014/05/01 01:00:00  109.0  307240     5         1    1
...        ...                  ...    ...     ...   ...       ...  ...
35035   001004  2015/04/30 23:00:00   77.0   35035     4        23   30
26276   001003  2015/04/30 23:00:00   93.0   26276     4        23   30
17517   001002  2015/04/30 23:00:00   73.0   17517     4        23   30
61312   001007  2015/04/30 23:00:00  131.0   61312     4        23   30
315323  001036  2015/04/30 23:00:00   88.0  315323     4        23   30

[209916 rows x 7 columns]

# Reset the existing index, and construct the new index values.
dataset = dataset.reset_index()
dataset.index = dataset.groupby('datetime').cumcount()

# Pivot and remove the column axis name.
dataset = dataset.pivot(columns='datetime', values="value").rename_axis(None, axis=1)

In [ ]:
df["id"] = df.index

In [ ]:
df

df.index = df.groupby('datetime').cumcount()
# Pivot and remove the column axis name.
df = df.pivot(columns='datetime', values=0).rename_axis(None, axis=1)

In [ ]:
df.columns = ["Station", "datetime", "value", "id"]

In [ ]:
df.columns = ["Station", "datetime", "value", "id"]
df['date'] = pd.to_datetime(df['datetime']).dt.month
df['datehour'] = pd.to_datetime(df['datetime']).dt.hour
df1 = df.copy().sort_values(by="datetime")

In [ ]:
df1 = df.copy().sort_values(by="datetime")

In [ ]:
df1

In [ ]:
df2 = df1.groupby(["datehour", 'Station']).apply(lambda x: x.loc[(x.date.isin([3, 6, 9, 12]) &
                    ~(x.value.isnull()))| (x.date.isin([2, 5, 8, 11]) & (x.value.isnull())),
                                                                 ["value", "id"]]).reset_index().T

In [ ]:
df2

In [ ]:
id_list = df2.loc['id', :].to_list()

In [ ]:
id_list

In [ ]:
ar = df["value"].to_numpy()

In [ ]:
ar.shape

In [ ]:
shp = (36, 36)

In [ ]:
shp

In [ ]:
# move back indices to one previous value
a = [x - 1 for x in id_list]

In [ ]:
a

In [ ]:
ar[a]

In [ ]:
ar[id_list]

In [ ]:
values = ar.copy()

In [ ]:
values[a] = np.nan

In [ ]:
masks = ~np.isnan(values)
eval_masks = (~np.isnan(values)) ^ (~np.isnan(ar))

In [ ]:
masks

In [ ]:
eval_masks

In [ ]:
evals = ar.reshape(shp)
values = values.reshape(shp)

masks = masks.reshape(shp)
eval_masks = eval_masks.reshape(shp)

In [ ]:
#kk = k.set_index("datetime")

In [ ]:
#kk[np.isnan(kk)] = -1

In [ ]:
#kk = kk.astype(int)

In [ ]:
#kk.values.tolist()

In [ ]:
indices = df1["id"].tolist()

In [ ]:
s = sample.pivot(index='datetime', columns='Station', values='value')

In [ ]:
s

In [ ]:
dict(zip(kk.values.tolist(), s.values.tolist()))

In [ ]:
kk

In [ ]:
kk.values

In [ ]:
s = sample[["Station", "value"]].copy()

In [ ]:
s.stack().reset_index()

In [ ]:
evals = []
x = sample.set_index("Station").to_dict()["value"]
np.array(parse_data(sample)).shape

In [ ]:
sample["Station"].unique()

In [ ]:
np.array(evals[0]).shape

In [ ]:
evals = []
keys = []
for h in range(24):
    f = df[df['datehour'] == h]
    evals.append(parse_data(f))

In [ ]:
df["hour"]

In [ ]:
f = df[df['datehour'] == 1]
x = f.set_index("Station").to_dict()["id"]

In [ ]:
evals = []

In [ ]:
b = df.set_index("Station")["value"].to_dict()

In [ ]:
from itertools import chain
keys = []
values = []
for attr in df["Station"].unique():
    if attr in chain(a,b):
        keys.append(a[attr])
        values.append(b[attr])

In [ ]:
#val = np.array(li)

In [ ]:
len(keys)

In [ ]:
values

In [ ]:
df3 = df1.groupby(["hour", 'Station']).apply(lambda x: x.loc[(x.date.isin([6]) &
                    ~(x.value.isnull()))| (x.date.isin([5]) & (x.value.isnull())), "value"])

In [ ]:
df4 = df1.groupby(["hour", 'Station']).apply(lambda x: x.loc[(x.date.isin([9]) &
                    ~(x.value.isnull()))| (x.date.isin([8]) & (x.value.isnull())), "value"])

In [ ]:
df5 = df1.groupby(["hour", 'Station']).apply(lambda x: x.loc[(x.date.isin([12]) &
                    ~(x.value.isnull()))| (x.date.isin([11]) & (x.value.isnull())), "value"])

In [ ]:
df1 = df1.to_frame().reset_index()

In [ ]:
df1

In [ ]:
df['datetime'] == df1['datetime']

In [ ]:
idx = df.index[df['datetime'] == df1['datetime']]

In [ ]:
len(df1)*100/len(df)

In [ ]:
df.groupby(["hour"]).apply(lambda x: x.loc[(x.date.isin([3, 6, 9, 12]) & ~(x.value.isnull())) | (x.date.isin([2,5, 8, 11]) & (x.value.isnull())), "value"].index)

In [ ]:
ind = df.loc[((df.date.isin([3])) & ~(df.value.isnull())) |
       ((df.date.isin([2])) & (df.value.isnull())), "value"]

In [ ]:
df.groupby(["date", "datehour"])["value"]

In [ ]:
df.loc[((df.date.isin([3])) & ~(df.value.isnull())) |
       ((df.date.isin([2])) & (df.value.isnull())), "value"]

In [ ]:
df.loc[((df.date.isin([3, 6, 9, 12])) & ~(df.value.isnull())) |
       ((df.date.isin([1, 2, 4, 5, 7, 8, 10, 11])) & (df.value.isnull())), "value"].index

In [ ]:
i = np.where(~np.isnan(df.values))[0].tolist()

In [ ]:
r = len(dataset)

In [ ]:
not_null = dataset[~dataset.isnull()].index.tolist()

In [ ]:
null = dataset[dataset.isnull()].index.tolist()

In [ ]:
null

In [ ]:
dd = np.roll(d[i], -1)

In [ ]:
i

In [ ]:
index_not_missing = np.where(~np.isnan(d), np.roll(d,-1))

In [ ]:
d = pd.DataFrame(d[index_not_missing]).shift(-1)

In [ ]:
d.index

In [ ]:
for xt in range (0,len(dataset)):
if mdf1.datetime[xt] == ""mdf1.B[xt]:
    mdf1.loc[xt:,'A'] = mdf1[xt:]['A'].shift(1)

In [ ]:
dataset[(dataset.isnull()) & (dataset["date"] == 1)].index

In [ ]:
dataset[(dataset[dataset.date.isin([3])].notnull()) &
        (dataset[dataset.date.isin([2])].isnull())].index

In [ ]:
dataset.index.hour

In [ ]:
df = dataset.iloc[:,1:]

In [ ]:
df[df.date.month.isin([11,12,1,2,3])]

In [ ]:
df.isna().groupby("date").count()